*,*::before,*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}


/* Make sure the body and root take full space */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
